.RunModel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Title {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  width: 720px;
  gap: 2rem;
}

.ParamSettingsContainer {
  display: flex;
  gap: 1rem;
}

.SliderContainer {
  display: flex;
  flex-direction: column;
}
