.AppBar {
  background-color: #ffffff;
  height: 3rem;
  min-height: 3rem;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 2px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 2px rgb(0, 0, 0);
  z-index: 100;
  display: flex;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

.Title {
  align-self: center;
  font-size: 20px;
  justify-content: flex-start;
}
